#titulo{
  margin: 1%;
  border: black 2px solid;
}

#introduccion{
  margin: 1%;
  border: black 2px solid;
}

#etapa_uni{
  margin: 1%;
  border: black 2px solid;
}

#footer{
  margin: 1%;
  border: black 2px solid;
}
