#titulo{
  margin: 1%;
  border: black 2px solid;
}

#introduccion{
  margin: 1%;
  border: black 2px solid;
}

#parrafo_int{
  padding-left: 1%;
}

#etapa_uni{
  margin: 1%;
  padding: 1%;
  border: black 2px solid;
}

#footer{
  margin: 1%;
  border: black 2px solid;
}
